.paragraph-style {
    background-color: hsl(215, 73%, 83%);
    color: #205db9;
}

.table-style {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

.table-style th, .table-style td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.table-style th {
    background-color: #76b678;
    color: white;
}
